<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: head" >
	<link rel="stylesheet" href="/css/rangliste.css" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<h2>Rangliste</h2>
	</div>
	<div class="container" id="containerBody">
		<div class="col-xs-12">
			<div class="alert alert-success" th:if="${successMessage}">
  				<strong><p th:utext="${successMessage}"></p></strong>
			</div>
			<div th:if="${administration}">
			<p></p>
				<form action="#" th:action="@{/}" th:object="${punktesystem}"
					method="post">
					<select class="custom-select" th:field="*{strategie}" onchange="this.form.submit();">
						<option 
							  th:each="berechnungsTyp : ${berechnungsTypValues}" 
							  th:text="${berechnungsTyp.getBerechnungsTyp()}"
							  th:value="${berechnungsTyp}">
						</option>
					</select>
				</form>
			</div>
			<p></p>
			<table class="table table-hover">
				<thead>
					<tr class="table-active">
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">Punkte</th>
					</tr>
				</thead>
				<tr th:each="eintrag : ${rangliste}" th:classappend="${eintrag.anzeigeName} == ${aktuellerMitspieler.getAnzeigeName()} ? font-weight-bold">
					<td th:text="${eintrag.platzierung}"/>
					<td><a class="mitspielerlink" th:text="${eintrag.anzeigeName}" th:href="@{/mitspieler/}+${eintrag.anzeigeName}"></a></td>
					<td th:text="${eintrag.punkte} "/>
				</tr>
			</table>
		</div>
	</div>
	<th:block th:replace="fragments/header :: scripts" />
</body>
</html>